<%= render("shared/header") %>

<%= render("shared/topbar", title: "New task list", back_path: task_lists_path, back_label: "Lists") %>

<h2>New task list</h2>

<div class="card">
  <%= render "form", task_list: @task_list, url: task_lists_path %>
</div>
