<h1>List transfer request</h1>
<p><%= @transfer.transferred_by.email %> wants to transfer the list <strong><%= @transfer.task_list.name %></strong> to your account <strong><%= @transfer.to_account.name %></strong>.</p>
<p><%= link_to "Review Transfer", @review_url %></p>
