<h1>You've been invited!</h1>
<p><%= @invitation.invited_by.email %> has invited you to join <strong><%= @invitation.account.name %></strong> on Rails Whey App.</p>
<p><%= link_to "Accept Invitation", @accept_url %></p>
